.custom-button {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 0.5rem 1rem;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
.btn-guardar{
    margin-right: 1rem;
}
.btn-limpiar{
    margin-right: 1rem;
}